{
  "option_settings": [
    {
      "option_name": "MYSQL_HOST",
      "value": "exchange.cvrodvxrqjz6.us-east-1.rds.amazonaws.com"
    },
    {
      "option_name": "MYSQL_PORT",
      "value": "3306"
    },{
      "option_name": "MYSQL_USERNAME",
      "value": "admin"
    },{
      "option_name": "MYSQL_PASSWORD",
      "value": "password"
    },{
      "option_name": "SPRING_PROFILES_ACTIVE",
      "value": "dev"
    },{
      "option_name": "EXCHANGE_URL",
      "value": "http://exchange-dev.us-east-1.elasticbeanstalk.com"
    },{
      "option_name": "TRADER_ID",
      "value": "1"
    },{
      "option_name": "JWT_ISSUER_URL",
      "value": "http://54.89.217.163/auth/realms/frankrealm"
    },{
      "option_name": "SERVER_PORT",
      "value": "5000"
    }
  ]
}